In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
import webbrowser

In [4]:
website='https://en.wikipedia.org/wiki/NFL_win-loss_records'

In [7]:
webbrowser.open(website)

True

In [8]:
nfl_frames = pd.read_clipboard()

In [9]:
nfl_frames

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division
1,Green,Bay,Packers,"1,444",805,601,38.000,0.571,1921,NFC,North
2,Dallas,Cowboys,993,561,426,6,0.568,1960.000,NFC,East,None
3,New,England,Patriots,990,556,425,9.000,0.566,1960,AFC,East
4,Baltimore,Ravens,427,241,185,1,0.566,1996.000,AFC,North,None
5,Chicago,Bears,"1,455",794,619,42,0.560,1920.000,NFC,North,None
6,Miami,Dolphins,889,487,398,4,0.550,1966.000,AFC,East,None
7,Minnesota,Vikings,969,516,442,11,0.538,1961.000,NFC,Nort,None

In [95]:
nfl_frames.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First', 'NFL',
       'season', 'Division', 'Stadium', 'Sadiums', 'City'],
      dtype='object')

In [96]:
t = nfl_frames.to_dict()

In [97]:
nfl_frames.Team

Col1
1         Bay
2     Cowboys
3     England
4      Ravens
5       Bears
6    Dolphins
7     Vikings
Name: Team, dtype: object

In [98]:
t = DataFrame(t)

In [99]:
t

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division,Stadium,Sadiums,City
1,Green,Bay,Packers,"1,444",805,601,38.000,0.571,1921,NFC,North,Levi's Stadium,At&T Stadium,La
2,Dallas,Cowboys,993,561,426,6,0.568,1960.000,NFC,East,None,Levi's Stadium,NaN,NYC
3,New,England,Patriots,990,556,425,9.000,0.566,1960,AFC,East,Levi's Stadium,NaN,NaN
4,Baltimore,Ravens,427,241,185,1,0.566,1996.000,AFC,North,None,Levi's Stadium,NaN,NaN
5,Chicago,Bears,"1,455",794,619,42,0.560,1920.000,NFC,North,None,Levi's Stadium,Levi's Stadium,NaN
6,Miami,Dolphins,889,487,398,4,0.550,1966.000,AFC,East,None,Levi's Stadium,NaN,NaN
7,Minnesota,Vikings,969,516,442,11,0.538,1961.000,NFC,Nort,None,Levi's Stadium,NaN,NaN

In [100]:
t[]

SyntaxError: invalid syntax (<ipython-input-100-4a24bd51b8f7>, line 1)

In [104]:
t = nfl_frames.Team
t

Col1
1         Bay
2     Cowboys
3     England
4      Ravens
5       Bears
6    Dolphins
7     Vikings
Name: Team, dtype: object

In [102]:
t.index.name = 'Col1'

In [103]:
t[1]

'Bay'

In [93]:
# crabbing particular columns we are using DataFrames
t = DataFrame(nfl_frames,columns=['Team','GP','Rank','Style'])

In [94]:
t

          Team        GP       Rank  Style
Col1
1          Bay   Packers      Green    NaN
2      Cowboys       993     Dallas    NaN
3      England  Patriots        New    NaN
4       Ravens       427  Baltimore    NaN
5        Bears     1,455    Chicago    NaN
6     Dolphins       889      Miami    NaN
7      Vikings       969  Minnesota    NaN

In [21]:
#Retrieves first Five Rows
nfl_frames.head(3)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division
Col1,,,,,,,,,,,
1,Green,Bay,Packers,"1,444",805,601,38.000,0.571,1921,NFC,North
2,Dallas,Cowboys,993,561,426,6,0.568,1960.000,NFC,East,None
3,New,England,Patriots,990,556,425,9.000,0.566,1960,AFC,East

In [22]:
#Retrieves last Five Rows

nfl_frames.tail()

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division
Col1,,,,,,,,,,,
3,New,England,Patriots,990,556,425,9.000,0.566,1960,AFC,East
4,Baltimore,Ravens,427,241,185,1,0.566,1996.000,AFC,North,None
5,Chicago,Bears,"1,455",794,619,42,0.560,1920.000,NFC,North,None
6,Miami,Dolphins,889,487,398,4,0.550,1966.000,AFC,East,None
7,Minnesota,Vikings,969,516,442,11,0.538,1961.000,NFC,Nort,None

In [26]:
t.ix[2]

AttributeError: 'DataFrame' object has no attribute 'ix'

In [31]:
l=nfl_frames.get(3)

In [36]:
nfl_frames.iat(2)

TypeError: '_iAtIndexer' object is not callable

In [37]:
nfl_frames['Stadium']= "Levi's Stadium"

In [38]:
nfl_frames

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division,Stadium
Col1,,,,,,,,,,,,
1,Green,Bay,Packers,"1,444",805,601,38.000,0.571,1921,NFC,North,Levi's Stadium
2,Dallas,Cowboys,993,561,426,6,0.568,1960.000,NFC,East,None,Levi's Stadium
3,New,England,Patriots,990,556,425,9.000,0.566,1960,AFC,East,Levi's Stadium
4,Baltimore,Ravens,427,241,185,1,0.566,1996.000,AFC,North,None,Levi's Stadium
5,Chicago,Bears,"1,455",794,619,42,0.560,1920.000,NFC,North,None,Levi's Stadium
6,Miami,Dolphins,889,487,398,4,0.550,1966.000,AFC,East,None,Levi's Stadium
7,Minnesota,Vikings,969,516,442,11,0.538,1961.000,NFC,Nort,None,Levi's Stadium

In [47]:
stadiums = Series(["Levi's Stadium","At&T Stadium"],index=[5,1])

In [48]:
stadiums

5    Levi's Stadium
1      At&T Stadium
dtype: object

In [51]:
nfl_frames['Stadiums'] = stadiums

In [52]:
nfl_frames

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division,Stadium,Sadiums,Stadiums
Col1,,,,,,,,,,,,,,
1,Green,Bay,Packers,"1,444",805,601,38.000,0.571,1921,NFC,North,Levi's Stadium,At&T Stadium,At&T Stadium
2,Dallas,Cowboys,993,561,426,6,0.568,1960.000,NFC,East,None,Levi's Stadium,NaN,NaN
3,New,England,Patriots,990,556,425,9.000,0.566,1960,AFC,East,Levi's Stadium,NaN,NaN
4,Baltimore,Ravens,427,241,185,1,0.566,1996.000,AFC,North,None,Levi's Stadium,NaN,NaN
5,Chicago,Bears,"1,455",794,619,42,0.560,1920.000,NFC,North,None,Levi's Stadium,Levi's Stadium,Levi's Stadium
6,Miami,Dolphins,889,487,398,4,0.550,1966.000,AFC,East,None,Levi's Stadium,NaN,NaN
7,Minnesota,Vikings,969,516,442,11,0.538,1961.000,NFC,Nort,None,Levi's Stadium,NaN,NaN

In [53]:
del nfl_frames['Stadiums']

In [54]:
nfl_frames

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division,Stadium,Sadiums
Col1,,,,,,,,,,,,,
1,Green,Bay,Packers,"1,444",805,601,38.000,0.571,1921,NFC,North,Levi's Stadium,At&T Stadium
2,Dallas,Cowboys,993,561,426,6,0.568,1960.000,NFC,East,None,Levi's Stadium,NaN
3,New,England,Patriots,990,556,425,9.000,0.566,1960,AFC,East,Levi's Stadium,NaN
4,Baltimore,Ravens,427,241,185,1,0.566,1996.000,AFC,North,None,Levi's Stadium,NaN
5,Chicago,Bears,"1,455",794,619,42,0.560,1920.000,NFC,North,None,Levi's Stadium,Levi's Stadium
6,Miami,Dolphins,889,487,398,4,0.550,1966.000,AFC,East,None,Levi's Stadium,NaN
7,Minnesota,Vikings,969,516,442,11,0.538,1961.000,NFC,Nort,None,Levi's Stadium,NaN

In [55]:
data = {'City':['Sf','La','NYC'],'Population':[38900,284711,28493]}

In [56]:
data

{'City': ['Sf', 'La', 'NYC'], 'Population': [38900, 284711, 28493]}

In [57]:
city_frame = DataFrame(data)

In [58]:
city_frame

  City  Population
0   Sf       38900
1   La      284711
2  NYC       28493

In [61]:
city_frame['City']

0     Sf
1     La
2    NYC
Name: City, dtype: object

In [62]:
nfl_frames['City']= city_frame['City']

In [63]:
nfl_frames

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,season,Division,Stadium,Sadiums,City
Col1,,,,,,,,,,,,,,
1,Green,Bay,Packers,"1,444",805,601,38.000,0.571,1921,NFC,North,Levi's Stadium,At&T Stadium,La
2,Dallas,Cowboys,993,561,426,6,0.568,1960.000,NFC,East,None,Levi's Stadium,NaN,NYC
3,New,England,Patriots,990,556,425,9.000,0.566,1960,AFC,East,Levi's Stadium,NaN,NaN
4,Baltimore,Ravens,427,241,185,1,0.566,1996.000,AFC,North,None,Levi's Stadium,NaN,NaN
5,Chicago,Bears,"1,455",794,619,42,0.560,1920.000,NFC,North,None,Levi's Stadium,Levi's Stadium,NaN
6,Miami,Dolphins,889,487,398,4,0.550,1966.000,AFC,East,None,Levi's Stadium,NaN,NaN
7,Minnesota,Vikings,969,516,442,11,0.538,1961.000,NFC,Nort,None,Levi's Stadium,NaN,NaN

TypeError: zeros() missing required argument 'shape' (pos 1)

In [82]:
my_var = Series([1,2,3,4],index=['a','b','c','d'])

In [83]:
my_var

a    1
b    2
c    3
d    4
dtype: int64

In [85]:
my_var.values

array([1, 2, 3, 4], dtype=int64)

In [86]:
my_var.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [87]:
my_index = my_var.index

In [88]:
my_index[1]

'b'

In [105]:
ser1 = Series([1,2,3,4,5],index=['a','b','c','d','e'])

In [109]:
ser2 = ser1.reindex(['a','b','c','d','e','f','g'])

In [110]:
ser2

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    NaN
g    NaN
dtype: float64

In [113]:
ser2.reindex(['a','b','c','d','e','f','g','j'],fill_value=0)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    NaN
g    NaN
j    0.0
dtype: float64

In [114]:
range(3)

range(0, 3)

In [115]:
t = range(10)

In [117]:
t = list(t)

In [118]:
t

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]