In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [2]:
ser1 = Series(list(range(3)),index=['A','B','C'])

In [3]:
ser1

A    0
B    1
C    2
dtype: int64

In [5]:
#Now we are going to drop a index which deletes that row also
ser1.drop('B')

A    0
C    2
dtype: int64

In [7]:
dframe1 = DataFrame(np.arange(9).reshape(3,3),index=['A','B','C'],columns=['col1','col2','col3'])

In [8]:
dframe1

   col1  col2  col3
A     0     1     2
B     3     4     5
C     6     7     8

In [9]:
# deleting row from a dataframe
dframe1.drop('A')

   col1  col2  col3
B     3     4     5
C     6     7     8

In [11]:
dframe2 = dframe1.drop('A')

In [13]:
dframe2

   col1  col2  col3
B     3     4     5
C     6     7     8

In [19]:
# deleting col from the table you need to specify the axes row=1,col=2
dframe2.drop('col1',axis=1)

   col2  col3
B     4     5
C     7     8