In [84]:
import numpy as np 
from pandas import DataFrame,Series
import pandas as pd
from numpy.random import randn
ser1 = Series([1,2,3,4],index=['a','b','c','d'])

In [85]:
ser1

a    1
b    2
c    3
d    4
dtype: int64

In [86]:
ser2 = ser1.reindex(['a','b','c','d','e'])

In [87]:
ser2

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
dtype: float64

In [88]:
ser2.reindex(['a','b','c','d','e','f','g','h'],fill_value=0)

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
f    0.0
g    0.0
h    0.0
dtype: float64

In [89]:
phone = 'this is my phone number 123-234-234'

In [90]:
import re
pattern = re.findall(r'[\d]+-[\d]+-[\d]+',phone)

In [91]:
pattern

['123-234-234']

In [92]:
ser3 = Series(['Usa','Canada','Mexico'],index=[0,5,10])

In [93]:
ser3

0        Usa
5     Canada
10    Mexico
dtype: object

In [94]:
ranger = range(15)

In [95]:
ranger

range(0, 15)

In [96]:
ser3.reindex(ranger,method='ffill')

0        Usa
1        Usa
2        Usa
3        Usa
4        Usa
5     Canada
6     Canada
7     Canada
8     Canada
9     Canada
10    Mexico
11    Mexico
12    Mexico
13    Mexico
14    Mexico
dtype: object

In [97]:
dframe = DataFrame(randn(25).reshape(5,5),index=['A','B','D','E','F'],columns = ['col1','col2','col3','col4','col5'])

In [98]:
dframe

       col1      col2      col3      col4      col5
A -0.588410  0.566139 -0.782307  1.326468  0.796811
B -0.269551  1.445082  0.215127 -1.304801  0.825044
D  0.982258  0.361507 -1.236438  0.045761 -1.659870
E -0.758086  1.370855  2.026813  0.326666  0.954173
F  1.374134 -0.744133  0.907563 -0.797862 -0.032055

In [99]:
# in series data must be one dimensional

ser2 = Series(np.arange(25).reshape(5,5),index=['a','b','d','e','f'])

ValueError: Data must be 1-dimensional

In [100]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [101]:
dframe2

       col1      col2      col3      col4      col5
A -0.588410  0.566139 -0.782307  1.326468  0.796811
B -0.269551  1.445082  0.215127 -1.304801  0.825044
C       NaN       NaN       NaN       NaN       NaN
D  0.982258  0.361507 -1.236438  0.045761 -1.659870
E -0.758086  1.370855  2.026813  0.326666  0.954173
F  1.374134 -0.744133  0.907563 -0.797862 -0.032055

In [102]:
new_col = ['col1','col2','col3','col4','col5','col6']

In [103]:
dframe3 = dframe2.reindex(columns=new_col)

In [104]:
dframe3

       col1      col2      col3      col4      col5  col6
A -0.588410  0.566139 -0.782307  1.326468  0.796811   NaN
B -0.269551  1.445082  0.215127 -1.304801  0.825044   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.982258  0.361507 -1.236438  0.045761 -1.659870   NaN
E -0.758086  1.370855  2.026813  0.326666  0.954173   NaN
F  1.374134 -0.744133  0.907563 -0.797862 -0.032055   NaN

In [105]:
dframe.col1

A   -0.588410
B   -0.269551
D    0.982258
E   -0.758086
F    1.374134
Name: col1, dtype: float64

In [106]:
#if we declare a single bracket ittakes the element from 1st row and second col
#if we declare a double bracket it takes the 1 and 3rd row from the table 
dframe.iloc[[1,3]]

       col1      col2      col3      col4      col5
B -0.269551  1.445082  0.215127 -1.304801  0.825044
E -0.758086  1.370855  2.026813  0.326666  0.954173

In [116]:
#frame.loc[1]
dframe.iloc[[1,2]]
dframe.iloc['A']

TypeError: Cannot index by location index with a non-integer key

In [ ]:
t = np.arange(50).reshape(25,2)

In [108]:
#same in numpy if we use double bracket it takes from 1,2,3 rows from the table
t[[1,2,3]]

array([[2, 3],
       [4, 5],
       [6, 7]])

In [109]:
dframe2.iloc[['A','B','C','D','E','F']]

ValueError: invalid literal for int() with base 10: 'A'

In [ ]:
\