In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
obj = Series([1,2,3,4,5])

In [4]:
obj6 = DataFrame(obj)

In [6]:
obj

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [39]:
obj.values

array([1, 2, 3, 4, 5], dtype=int64)

In [40]:
obj.index

RangeIndex(start=0, stop=5, step=1)

In [41]:
ww2_cas = Series([12,23,34,45],index=['Ussr','Germany','Usa','India'])

In [42]:
ww2_cas

Ussr       12
Germany    23
Usa        34
India      45
dtype: int64

In [43]:
ww2_cas['Usa']

34

In [44]:
ww2_cas['Usa']=78

In [45]:
ww2_cas

Ussr       12
Germany    23
Usa        78
India      45
dtype: int64

In [46]:
ww2_cas[ww2_cas>=23]

Germany    23
Usa        78
India      45
dtype: int64

In [49]:
ww2_dict = ww2_cas.to_dict()

In [50]:
ww2_dict

{'Ussr': 12, 'Germany': 23, 'Usa': 78, 'India': 45}

In [51]:
ww2_series = Series(ww2_dict)

In [52]:
ww2_series

Ussr       12
Germany    23
Usa        78
India      45
dtype: int64

In [53]:
values = [10000,20000,30000,40000,50000]

In [58]:
countries = ['China','Germany','Japan','usa','India','Argentina']

In [59]:
obj2 = Series(values,index=countries)

ValueError: Length of passed values is 5, index implies 6.

In [60]:
obj2

China      10000
Germany    20000
Japan      30000
usa        40000
India      50000
dtype: int64

In [57]:
obj2.isnull()

China      False
Germany    False
Japan      False
usa        False
India      False
dtype: bool

In [61]:
pd.isnull(obj2)

China      False
Germany    False
Japan      False
usa        False
India      False
dtype: bool

In [62]:
pd.notnull(obj2)

China      True
Germany    True
Japan      True
usa        True
India      True
dtype: bool

In [63]:
obj2+ww2_cas

China          NaN
Germany    20023.0
India      50045.0
Japan          NaN
Usa            NaN
Ussr           NaN
usa            NaN
dtype: float64

In [64]:
obj2.name = 'info'

In [65]:
obj2

China      10000
Germany    20000
Japan      30000
usa        40000
India      50000
Name: info, dtype: int64

In [66]:
obj2.index.name='countries'

In [69]:
obj2

countries
China      10000
Germany    20000
Japan      30000
usa        40000
India      50000
Name: info, dtype: int64